<div class="container">
  <div class="row">
    <!--devision1-->
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4  " style="background-color:#19415E; text-align: center;" >
      <div class="row">
        <img class="img-fluid float-left" src="assets/images/ncz.png">
      </div>
<div  class="mt-3 p-2" style="color:whitesmoke;">
        <h4 class="mt-5">Forgot Password?</h4>
        <p>Enter your email-id and we will send you link to reset</p>
</div>
<form >
  <div class="row mt-3">
    <input type="email" formControlName="userId"
     class="form-control" placeholder="User ID / EMail ID">
  </div>
  <div class="row mt-5" >
    <button type="submit" class="btn btn-primary btnLogin" [disabled]="true">Login</button>
  </div>
  </form>
    </div>
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8">
      <div class="logInBackground">
        <h2 style="position: absolute; margin-top: 2em; margin-left: 1em;color: #000000;">Welcome Back!</h2>
      </div>
    </div>
  </div>
</div>



