<div class="main-content" style="margin: 60px; ">
    <div class="cards">
        <div class="card-single">
            <div card="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <h3>0</h3>
                    </div>
                    <h6>Default Request</h6>
                    <div class="card-chart">
                        <span class="las la-chart-line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-single" style="background-color: rgb(4, 4, 78); color: white;">
            <div card="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <h3>0</h3>
                    </div>
                    <h6>Default Request</h6>
                    <div class="card-chart">
                        <span class="las la-chart-line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div card="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <h3>0</h3>
                    </div>
                    <h6>Default Request</h6>
                    <div class="card-chart">
                        <span class="las la-chart-line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div card="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <h3>0</h3>
                    </div>
                    <h6>Default Request</h6>
                    <div class="card-chart">
                        <span class="las la-chart-line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-single">
            <div card="card-flex">
                <div class="card-info">
                    <div class="card-head">
                        <h3>0</h3>
                    </div>
                    <h6>Default Request</h6>
                    <div class="card-chart">
                        <span class="las la-chart-line"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="grid">
        <div class="col-12">
            <div class="card">
                <h5>Data Table</h5>
                    
                <p-table [value]="Request" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                        </tr>
                    </ng-template>
                   
                </p-table>
            </div>
        </div>
    </div>

    